<!DOCTYPE html>
<html lang="hu">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="kepek/logo.jpg" type="image/x-icon" />
	<link rel="stylesheet" href="css/stilus.css" />
	<title>Szent Benedek kérdőív</title>
</head>
<body>
	<div class="jumbotron">
		Kérdőív
	</div>
	<div class="belep">
		<div class="urlap">
			<form action="/belep" method="post" autocomplete="on">
				<label for="nev">Név: </label><br />
				<input type="text" name="nev" id="nev" autofocus /><br />
				<label for="jelszo">Jelszó: </label><br />
				<input type="password" name="jelszo" id="jelszo" /><br />
				<button type="submit">Elküld</button>
			</form>
		</div>
	</div>
</body>
</html>