<!DOCTYPE html>
<html lang="hu">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="kepek/logo.jpg" type="image/x-icon" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="css/stilus.css" />
	<title>Sablon</title>
</head>
<body>
	<div class="jumbotron">
		Kérdőív
	</div>
	<nav>
		<li><a href="/kerdoivek">Kérdőívek</a></li>
		<% if (statusz == 'p') { %>
			<li><a href="/sablon" class="active">Kérdőív sablon</a></li>
			<li><a href="/ertekel">Értékelések</a></li>
		<% } %>
		<li><a href="/kilep">Kilép</a></li>
	</nav>
	<div class="belep">
		<div class="urlap">
			<form action="/sablonFeltolt" method="post" autocomplete="off">
				<label for="kerdes">Hány kérdés lesz:</label><br />
				<input type="number" name="kerdes" id="kerdes" min="1" autofocus /><br />
				<label for="valasz">Hány válasz lesz:</label><br />
				<input type="number" name="valasz" id="valasz" min="1" /><br />
				<button type="submit">Feldolgoz</button>
			</form>
		</div>
	</div>
</body>
</html>